<!-- <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center shadow">
      <div class="col-2 pt-1">
        <div class="container py-2">
          <img src="https://pbs.twimg.com/media/DrKZyFvXcAAazQF.jpg" class="img-fluid" alt="Responsive image"/>
        </div>
        
      </div>
      <div class="col-8 text-center">
        
          <h1 class="display-3 font-weight-bold">C.E.P. N°42</h1>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
          
        <a class="btn btn-sm btn-outline-secondary shadow p-3 mb-5" href="#">
            <i class="fas fa-sign-in-alt" ></i>
            Ingresar
        </a>
        
        
      </div>
    </div>
  </header> -->

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" [class]="responsiveTop" id="mainNav" >
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">CEP N°42</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" #menuColapsable>
        <ul class="navbar-nav text-uppercase ml-auto" >
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#infoEscuela" (click)="clickMenu()">Nuestra institución</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Historia" (click)="clickMenu()">Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio" (click)="clickMenu()">Galería</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team" (click)="clickMenu()">Team</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact" (click)="clickMenu()">Contact</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link btn btn-primary js-scroll-trigger" href="#services">Aula Virtual</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top" (click)="clickMenu()"><i class="fas fa-sign-in-alt" title="Iniciar Sesión"></i></a>
              
          </li>

        </ul>
        
      </div>
      
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in"><br><br><br></div>
        <div class="intro-heading text-uppercase"><br></div>
        <!--<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>-->
      </div>
    </div>
  </header>

  

